@model E_Commerce.MvcWebUI.Models.CategoryListViewModel

<div class="list-group">
    @foreach (var category in Model.Categories)
    {
        <a href="/Product/Index?category=@category.CategoryId " class="list-group-item">@category.CategoryName</a>
    }
</div>